@{
    ViewData["Title"] = "Home Page";
}


    <a class="btn btn-outline-light m-2" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>

    <a class="btn btn-outline-light m-2" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>

